git+https://github.com/samueljackson92/coranking.git@master
numpy
torch
torchvision
torchsummary==1.5.1
tqdm==4.50.2
h5py==2.10.0
opfython==1.0.11
scipy==1.7.0
scikit_learn==1.0.2
matplotlib==3.2.2
requests==2.22.0
